
 /*---------------------------------------------------------*/
 #box {          
  display: flex;              /*Задаем контейнеру "box" свойство "flex" */
  flex-direction: row;        /*основная ось идёт горизонтально слева направо*/
  align-items: baseline;      /*элементы выравниваются по базовой линии текста*/
}
.name {                       /*наши дивы с размерами и цветом для наглядности*/          
  width: 100px;               /*Ширина */
  border: solid red 1px;    /*Красная граница блока */
  background-color: aqua;   /*фон голубой у блока */
}

