
 /*---------------------------------------------------------*/
 #box {          
  display: flex;           /*Задаем контейнеру "box" свойство "flex" */
  width: 500px;            /*ширина флекс контейнера*/
  height: 600px;           /*высота флекс контейнера*/
  border: solid red 3px; /*граница флекс контейнера*/
  flex-direction: row;     /*флекс элементы в строку*/ 
  flex-wrap: wrap;         /*При сжатии страницы флекс элементы перескакивают на другую строку*/ 
  align-content: stretch;  /*ряды растягиваются одинаково, так, чтобы занять всё доступное пространство родителя*/
}
.name {                    /*наши дивы с размерами и цветом для наглядности*/          
  width: 100px;
  border: solid rebeccapurple 1px;
  background-color: aqua;
}