/* Изменим способ расчета браузером размеров элементов*/
/* Теперь в ширину и высоту входит сам контент, */
/* граница (border) и внутрение поля (padding)*/

* {                           /*все элементы*/
    box-sizing: border-box;   /*Размер = контент + padding + border*/
  }
body {
    background-color: antiquewhite;
}  


 /*---------------------------------------------------------*/

 .box {
  display: flex;
}





