
 /*---------------------------------------------------------*/
 #box {          
  display: flex;           /*Задаем контейнеру "box" свойство "flex" */
  flex-direction: row;     /*флекс элементы в строку*/ 
  flex-wrap: nowrap;       /*При сжатии страницы флекс элементы сжимаются но не перескакивают на другую строку*/ 
}
.name {                    /*наши дивы с размерами и цветом для наглядности*/          
  border: solid red 1px;
  background-color: aqua;
  width: 200px;              /*Задаем ширину обычным способом*/        
  flex-basis: 100px;         /*задаем ширину флекс элементам так как элементы в строку (row)*/
}









