
 /*---------------------------------------------------------*/

 #box {          
  display: flex;                 /*Задаем контейнеру "box" свойство "flex" */
  flex-direction: column;   /**/ 
}
.name {                          /*наши дивы с размерами и цветом для наглядности*/          
  width: 200px;
  height: 200px;
  border: solid red 1px;
  background-color: aqua;
}

