
 /*---------------------------------------------------------*/

 #box {          
  display: flex;           /*Задаем контейнеру "box" свойство "flex" */
  flex-direction: row;     /*флекс элементы в строку*/ 
  flex-wrap: wrap;         /*При сжатии страницы флекс элементы перескакивают*/ 
}
.name {                    /*наши дивы с размерами и цветом для наглядности*/          
  width: 400px;
  height: 400px;
  border: solid red 1px;
  background-color: aqua;
}

